<div class="container" id="main-container">
    <h1>Variant API</h1>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" (click)="onOpenModal(null!!, 'add')">
            [+] Tambah Data Variant
        </button>
    </p>

    <!-- Search -->
    <div class="wrap">
        <div class="search">
            <input ngModel (ngModelChange)="searchVariantAPI($event)" type="text" class="searchTerm"
                placeholder="Search...">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Variant Code</th>
                <th scope="col">Category Name</th>
                <th scope="col">Variant Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of variant; index as i">
                <th>{{i+1}}</th>
                <td>{{ v.variant_code }}</td>
                <td>{{ v.category_name }}</td>
                <td>{{ v.variant_name }}</td>
                <td>
                    <button (click)="onOpenModal(v, 'edit')" class="btn btn-outline-primary"><i
                            class="fas fa-edit"></i></button>
                    <button (click)="onOpenModal(v, 'delete')" class="btn btn-outline-danger ms-3"><i
                            class="fa fa-trash"></i></button>
                </td>
        </tbody>
    </table>

    <ul class="pagination align-items-center justify-content-end me-3">

        <li class="page-item"><button *ngIf="current_page > 1; else prevElse" type="button" class="btn btn-primary ml-3"
            id="btn_prev" (click)="prevPage()">Prev</button>
          <ng-template #prevElse>
            <button disabled type="button" class="btn btn-primary" id="btn_prev" (click)="prevPage()">Prev</button>
          </ng-template>
        </li>
    
        <li class="page-item"><button disabled="disabled" class="btn btn-secondary ml-3 mr-3"> {{current_page}}</button>
        </li>
    
        <li class="page-item"><button *ngIf="current_page < totalPages(); else nextElse" type="button"
            class="btn btn-primary" id="btn_next" (click)="nextPage()">Next</button>
          <ng-template #nextElse>
            <button disabled type="button" class="btn btn-primary" id="btn_next" (click)="nextPage()">Next</button>
          </ng-template>
        </li>
    
        <li class="page-item"><select [ngModel]="records_per_page" (ngModelChange)="select_records_per_page($event)"
            class="form-select  ml-3" name="records_per_page">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select></li>
    
        <li class="page-item"><select [ngModel]="sortBy" (ngModelChange)="setSortBy($event)" class="form-select ml-3"
            name="records_per_page">
            <option value="variant_code">Code</option>
            <option value="variant_name">Name</option>
          </select></li>
    
        <li class="page-item"><select [ngModel]="mode" (ngModelChange)="setMode($event)" class="form-select ml-3"
            name="records_per_page">
            <option value="ASC">A-Z</option>
            <option value="DESC">Z-A</option>
          </select></li>
      </ul>

</div>

<!-- Modal Add-->
<div class="modal fade" id="addVariantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddVariant(addForm)">
                    <div class="mb-3">
                        <label for="categoryname">Category</label>
                        <select ngModel name="category_id" id="category_name" class="form-control">
                            <option value="" disabled selected hidden>--Select Category--</option>
                            <option *ngFor="let categories of category" [ngValue]="categories.id">
                                {{categories.category_name}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="variantCode">Variant Code</label>
                        <input ngModel type="text" class="form-control" id="variant_code" name="variant_code"
                            placeholder="Variant Code" required>
                    </div>

                    <div class="mb-3">
                        <label for="variantName">Variant Name</label>
                        <input ngModel type="text" class="form-control" id="variant_name" name="variant_name"
                            placeholder="Variant Name" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-variant-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Tutup</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal">Simpan
                            Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editVariantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Variant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="mb-3">
                        <label for="categoryname">Category</label>
                        <select name="category_id" id="category_id" ngModel="{{editVariant.category_id}}"
                            class="form-control">
                            <option *ngFor="let categories of category" ngValue="{{categories.id}}">
                                {{categories.category_name}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <input type="hidden" ngModel="{{ editVariant.id }}" name="id" id="id">

                        <label for="variantCode" class="form-label">Variant Code</label>
                        <input ngModel="{{editVariant?.variant_code}}" type="text" class="form-control"
                            id="variant_code" name="variant_code" placeholder="Variant Code" required>
                    </div>

                    <div class="mb-3">
                        <label for="variantName" class="form-label">Variant Name</label>
                        <input ngModel="{{editVariant?.variant_name}}" type="text" class="form-control"
                            id="variant_name" name="variant_name" placeholder="Variant Name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-variant-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Tutup</button>
                        <button (click)="onEditVariant(editForm.value)" type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal">Edit
                            Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal" id="deleteVariantModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Variant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Anda Yakin Menghapus Variant {{deleteVariant.variant_name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                <button (click)="onDeleteVariant(deleteVariant.id)" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Ya</button>
            </div>
        </div>
    </div>
</div>