<div class="container" id="main-container">
    <img src="https://c.tenor.com/8w1yxJJIlOUAAAAC/yay-mochi.gif" loop=infinite class="rounded mx-auto d-block img-fluid" alt="...">
    <h1 class="text-center">Welcome to Xsis Academy</h1>
</div>
